[mysqld]
ssl-ca=/etc/mysql/ssl/ca.pem
ssl-cert=/etc/mysql/ssl/server-cert.pem
ssl-key=/etc/mysql/ssl/server-key.pem

# Bật kiểm tra client certificate (yêu cầu xác thực 2 chiều)
require_secure_transport = ON
